body {
	margin: 0;
	padding: 0;
	font-family: "Arial", Times, serif;
	background-image: url(img/site-bg.jpg);
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper{
	text-align:center;
	margin-top: 5px;
}

.card {
	background: #ffffff;
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	text-align:center;
	vertical-align: middle;
	display:inline-block;
	margin:0;
	overflow: hidden;
	padding-bottom: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	opacity:0.9;
	
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.cards-separate .card {
	margin: 5px;
}

.card-round {
	border-radius: 200px;
}

.card-symbol{
	font-family: 'MS Mincho';
	font-size: 100px;
	line-height: 170px;
	-webkit-user-select: none;
}

.description {
	background: #EFF0CC url(img/desc-bg.png) repeat-x;
	position: absolute;
	left: 0;
	bottom: 0;
	width:100%;
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30px;
	-webkit-user-select: none;
}
.description-small {
	font-size: 14px;
}
.card-symbol-hiden{
	color: transparent;
	text-shadow: 0 0 100px rgba(0,0,0,0.95);
}

.description-hiden{
	color: transparent;
	text-shadow: 0 0 30px rgba(0,0,0,0.95);
}

.card-symbol-hiden:hover, .description-hiden:hover{
	color: inherit;
	text-shadow: none;
}

/* Small size */
.card-small {
	width: 100px;
	height: 100px;
	padding-bottom: 20px;
}

.card-small .card-symbol {
	font-size: 50px;
	line-height: 80px;
}

.card-small .description {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 20px;
}


/* Large size */
.card-large {
	width: 400px;
	height: 400px;
	padding-bottom: 40px;
}

.card-large  i {
	margin-left: -40px;
}

.card-large .card-symbol {
	font-size: 200px;
	line-height: 360px;
}

.card-large .description {
	line-height: 60px;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
}

a.card:hover {
	box-shadow: 0 0 20px rgba(0,0,0,1);
}